@define-color bg-color #fcfbf9;
@define-color bg-alt #f7f3ee;
@define-color fg-color #605a52;
@define-color accent #93c7c7;

 * {
    font-family: "JetBrainsMono NF";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent; /* allows round corner */
    color: @fg-color;
}

window#waybar > box {
    background-color: @bg-color;
    border-radius: 7px;
}

/* Workspaces */
#workspaces button {
    padding: 5px 5px;
    background-color: transparent;
    color: @fg-color; /* Foreground */
    border-radius: 7px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#workspaces button.active {
    color: @accent;
    font-weight: bold;
    background-color: @bg-alt;
}

#workspaces button:hover {
    background: @bg-alt;
    border: 1px solid @bg-alt;
    transition: none;
}

/* Window title */
#window {
    color: @fg-color;
    font-weight: bold;
}

/* Right modules */
#custom-airplane,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#clock,
#tray,
#custom-chevron {
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
    color: @fg-color;
}

#custom-airplane,
#network,
#bluetooth {
    font-size: 17px;
}

#custom-chevron {
    font-size: 16px;
    margin-left: 10px;
}

#battery.critical {
    color: #ff1100;
}


#tray {
    background-color: @fg-color; /* Couleur sombre (ex: gris foncé/noir) */
    color: @bg-color;           /* Couleur des icônes (si supporté) */
    padding: 0 10px;           /* Un peu d'espace sur les côtés */
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}
