[opener]
open = [
    { run = 'xdg-open "$@"', orphan = true, desc = "Open", for = "unix" },
]

appimage = [
    { run = "$@", orphan = true, desc = "Launch appimage", for = "unix" }
]

sudo-edit = [
    { run = 'VISUAL="code --wait" sudo -e "$@"', block = true, desc = "Éditer en Root (VS Code)" },
    { run = 'VISUAL=nvim EDITOR=nvim sudo -e "$@"', block = true, desc = "Éditer en Root (Nvim)" }
]

[[open.prepend_rules]]
name = "*.appimage"
use  = [ "appimage" ]

[[open.prepend_rules]]
name = "*"
use  = [ "open" ]